<header th:fragment="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{'/'}">
      Mini Resto App
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" th:href="@{'/'}">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" th:href="@{'/restaurants'}">Restaurants</a>
        <a class="nav-item nav-link" th:href="@{'/menuitems'}">Menu items</a>
      </div>
    </div>
  </nav>
</header>
