#overlay {
    position: absolute;
    top: 60%;
    bottom: 60px;
    left: 50px;
    width: 80%;
    color: rgb(184, 106, 9);
    background-color: rgba(22, 29, 28, 0.85);
    opacity: 0.9;
    border-radius: 25px;
}

#overlay h3 {
    text-align: right;
}

.bg-custom {
    background-color: rgb(73, 55, 31);
}

.photo-url {
    width: auto;
    height: 80px;
}

.photo-url-detail {
    width: auto;
    height: 240px;
}

#restaurants {
    background-image: url("/static/img/fruit.jpg");
    background-repeat: no-repeat;
    background-color: rgb(208, 156, 67);
    background-attachment: fixed;
    background-position: center;
    color: rgb(184, 106, 9);
}

#text-custom {
    color: rgb(73, 55, 31);
}

