<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="fragments/cdn.html :: head-cdn"></th:block>
    <th:block th:include="fragments/custom.html :: head-custom"></th:block>
    <title>Menu item by Category</title>
</head>
<body class="container min-vh-100" id="text-custom">
<header th:replace="fragments/header.html :: header"></header>
<h1>Menu Items by Category</h1>
    <div class="row">
        <div class="col" th:each="pair : ${itemspercategory}">
            <h4 class="mt-3" th:text="${pair.getKey().getDescription()}"></h4>
            <ul class="mt-3" th:each="item : ${pair.getValue()}">
                <li th:text="${item.getItemName()}"></li>
            </ul>
        </div>
    </div>
<table class="table table-hover table-striped mt-3">
    <thead>
    <tr>
        <th>Category</th>
        <th>Menu items</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pair : ${itemspercategory}">
        <td th:text="${pair.getKey().getDescription()}"></td>
        <td>
            <ul th:each="item : ${pair.getValue()}">
                <li th:text="${item.getItemName()}"></li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
<th:block th:include="fragments/cdn.html :: script-cdn"></th:block>
</body>
</html>
