<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:include="/fragments/custom.html" :: head-custom></th:block>
    <th:block th:include="/fragments/cdn.html" :: head-cdn></th:block>
    <title>Available items in the database</title>
</head>
<body class="container min-vh-100">
<header th:replace="/fragments/header.html :: header"></header>
<h1>Menu items</h1>
<form class="form-inline my-2 my-lg-0" method="get">
    <input class="form-control mr-sm-2" type="search" name="name" placeholder="Search" aria-label="Search">
    <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
    <a class="btn btn-dark my-2 ml-1 my-sm-0" th:href="@{/menuitem/new}" role="button">New</a>
    <a class="btn btn-dark my-2 ml-1 my-sm-0" th:href="@{/menuitems-grouping}" role="button">Grouped by Category</a>
</form>
<div th:if="${param.name != null}" class="text-white bg-dark py-3">
    Search results for "<span th:text="${param.name}"></span>"
</div>
    <table class="table mt-3">
        <thead>
        <tr>
            <th></th>
            <th>Menu item</th>
            <th>Category</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${menuitems==null}">
            <td>No items to display</td>
        </tr>
        <tr th:each="item : ${menuitems}">
            <td><img th:src="${item.getPhotoUrl()}" class="photo-url"></td>
            <td>
                <a th:href="@{'/menuitem/' + ${item.getId()}}"
                th:text="${item.getItemName()}"></a>
            </td>
            <td th:text="${item.getCategory().getDescription()}"></td>
        </tr>
        </tbody>
    </table>
<th:block th:include="/fragments/cdn.html" :: script-cdn></th:block>
</body>
</html>
