<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="fragments/cdn.html :: head-cdn"></th:block>
    <th:block th:include="fragments/custom.html :: head-custom"></th:block>
    <title>Menu item detail</title>
</head>
<body class="container min-vh-100" id="text-custom">
<header th:replace="fragments/header.html :: header"></header>
<h1 th:text="${menuitem.getItemName()}"></h1>
<div class="container">
    <div class="row">
        <div class="col-6">
            <img th:src="${menuitem.getPhotoUrl()}" alt="here-should-be-a-photo" class="photo-url-detail">
        </div>
        <div class="col-6">
            <h4>Category</h4>
            <h5 th:text="${menuitem.getCategory().getDescription()}"></h5>
            <h4>Restaurants</h4>
            <ul th:each="restaurant : ${menuitem.getRestaurants()}">
                <li th:utext="${restaurant.getRestaurantName()} + ' - ' + ${restaurant.getCity().getCityName()} +
                ' ('+${menuitem.getPrice()}+' €)'"></li>
            </ul>
        </div>
    </div>
    <a class="btn btn-dark mt-3" th:href="@{'/menuitem/' + ${menuitem.id} + '/edit'}"
       role="button">Edit</a>
</div>
<th:block th:include="fragments/cdn.html :: script-cdn"></th:block>
</body>
</html>
