<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:include="/fragments/custom.html" :: head-custom></th:block>
    <th:block th:include="/fragments/cdn.html" :: head-cdn></th:block>
    <title>Register or Edit restaurant</title>
</head>
<body class="container min-vh-100 bg-custom">
<header th:replace="/fragments/header.html :: header"></header>
<h1 th:text="(${restaurant.getRestaurantName()} != null ? 'Editing restaurant: ' + ${restaurant.getRestaurantName()} : 'Register new restaurant')" class="text-white"></h1>
<section>
    <div class="row mt-3">
        <div class="col">
            <form th:action="@{/restaurant/new}" th:object="${restaurant}" method="post">
                <p th:if="${#fields.hasAnyErrors()}" class="input-error text-white">Your input has errors</p>
                <input type="hidden" th:field="*{id}">
                <input type="text" th:field="*{restaurantName}" placeholder="Restaurant name" required>
                <input type="text" th:field="*{city}" placeholder="City" required>
                <input type="text" th:field="*{priceLevel}" placeholder="Price level">
                <input type="text" th:field="*{photoUrl}" placeholder="Photo URL">
                <input type="hidden" th:field="*{menuItems}">
                <button class="btn btn-dark" type="submit">Submit</button>
            </form>
        </div>
    </div>
</section>
<th:block th:include="/fragments/cdn.html" :: script-cdn></th:block>
</body>
</html>
