<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:include="/fragments/custom.html" :: head-custom></th:block>
    <th:block th:include="/fragments/cdn.html" :: head-cdn></th:block>
    <title>Available restaurants in the database</title>
</head>
<body class="container min-vh-100">
<header th:replace="/fragments/header.html :: header"></header>
<h1>Restaurants</h1>
<form class="form-inline my-2 my-lg-0" method="get">
    <input class="form-control mr-sm-2" type="search" name="name" placeholder="Search" aria-label="Search">
    <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
    <a class="btn btn-dark my-2 ml-1 my-sm-0" th:href="@{/restaurant/new}" role="button">New</a>
</form>
<div th:if="${param.name != null}" class="text-white bg-dark py-3">
    Search results for "<span th:text="${param.name}"></span>"
</div>
    <table class="table mt-3">
        <thead>
        <tr>
            <th></th>
            <th>Restaurant</th>
            <th>City</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${restaurants==null}">
            <td>No restaurants to display</td>
        </tr>
        <tr th:each="restaurant : ${restaurants}">
            <td><img th:src="${restaurant.getPhotoUrl()}" class="photo-url"></td>
            <td>
                <a th:href="@{'/restaurant/' + ${restaurant.getId()}}"
                th:text="${restaurant.getRestaurantName()}"></a>
            </td>
            <td th:text="${restaurant.getCity().getCityName()}"></td>
        </tr>
        </tbody>
    </table>
<th:block th:include="/fragments/cdn.html" :: script-cdn></th:block>
</body>
</html>
