<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="fragments/cdn.html :: head-cdn"></th:block>
    <th:block th:include="fragments/custom.html :: head-custom"></th:block>
    <title>Restaurant detail</title>
</head>
<body class="container min-vh-100" id="text-custom">
<header th:replace="fragments/header.html :: header"></header>
    <h1 th:text="${restaurant.getRestaurantName()}">
    </h1>

<div class="container">
    <div class="row">
        <div class="col-6">
            <img th:src="${restaurant.getPhotoUrl()}" alt="here-should-be-a-photo" class="photo-url-detail">
        </div>
        <div class="col-6">
            <h4>City</h4>
            <h5 th:utext="${restaurant.getCity().getPostalCode().getPostalCode()} + ' ' + ${restaurant.getCity().getCityName()}"></h5>
            <h4>Menu items</h4>
            <ul th:each="item : ${restaurant.getMenuItems()}">
                <li th:utext="${item.getItemName()} + ' - ' + ${item.getPrice()} +' €'"></li>
            </ul>
        </div>
        <a class="btn btn-dark mt-3" th:href="@{'/restaurant/' + ${restaurant.id} + '/edit'}"
           role="button">Edit</a>
    </div>

</div>
<th:block th:include="fragments/cdn.html :: script-cdn"></th:block>
</body>
</html>
